<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">BJcxy951220</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/EMR?characterEncoding=utf8&amp;useSSL=false&amp;useTimezone=true&amp;serverTimezone=UTC</property>
		<mapping class="com.me.EMR.pojo.User" />
		<mapping class="com.me.EMR.pojo.Patient" />
		<mapping class="com.me.EMR.pojo.Doctor" />
		<mapping class="com.me.EMR.pojo.Appointment" />
		<mapping class="com.me.EMR.pojo.Message" />
		<mapping class="com.me.EMR.pojo.Recipe" />
		<mapping class="com.me.EMR.pojo.Prescription" />
	</session-factory>
</hibernate-configuration>
